<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.prac_ss.mapper.UsersMapper">

    <insert id="signUp" parameterType="com.example.prac_ss.dto.UserDto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (email, password, username, login_from, phone_number)
        VALUES (#{email}, #{password}, #{username}, #{loginFrom}, #{phoneNumber})
    </insert>

    <select id="selectUserRoles" resultType="String">
        SELECT r.role
        FROM roles r
        JOIN users_roles ur ON r.id = ur.role_id
        WHERE ur.user_id = #{userId}
    </select>

    <insert id="insertUserRole">
        INSERT INTO users_roles (user_id, role_id)
        VALUES (#{userId}, #{roleId})
    </insert>

    <select id="selectUserEmailByEmail" resultType="String">
        SELECT email FROM users where email = #{email}
    </select>

    <select id="selectLoginFromByLoginFrom" resultType="String">
        SELECT `login_from` FROM users
        WHERE login_from = #{loginFrom}
    </select>

    <update id="updateUser" parameterType="com.example.prac_ss.dto.UserDto">
        UPDATE users
        SET email = #{email},
        username = #{username},
        phone_number = #{phoneNumber}
        WHERE id = #{id}
    </update>

    <select id="selectUserIdByLoginFrom" resultType="Integer">
        SELECT id
        FROM users
        WHERE login_from = #{loginFrom}
    </select>

</mapper>